@import "mixins.scss";
@import "variables.scss";

@media screen and (max-width:890px) {
  .head-sec {
    height: 90px;
  }

  .nav-bar {
    width: 100vw !important;
    position: relative !important;
    top: -10px !important;

    a {
      display: none !important;
      width: 100vw !important;
      background-color: $primary-1;
      float: clear !important;
      text-align: center !important;
      @include padding(10px 0);
    }
  }

  .logo {
    img {
      left: 45vw !important;
      width: 60px;
      height: 60px;
    }
  }

  .careers {
    display: none;
  }
}

@media screen and (max-width:1140px) {
  .nav-bar {
    a {
      width: fit-content !important;
      @include margin(0 10px);
    }
  }
}