@import "variables.scss";
@import "mixins.scss";
@import "animations.scss";
@import "responsive.scss";

body {
  background-color: $secondary-color;
  @include margin(0);
}

.head-sec {
  width: 100%;
  background-color: $primary-1;
  opacity: 0.8;
}

.logo {
  width: 200px;
  float: left;

  img {
    position: relative;
    left: 100px;
    @include margin(15px 0 15px 0);

    &:hover {
      animation: bounce 2s;
    }
  }
}

.nav-bar {
  height: 110px;
  position: relative;
  top: 80px;

  a {
    width: 12%;
    float: left;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: $secondary-color;
    text-align: center;

    img {
      width: 20px;
      color: $secondary-color;
    }
  }

  .humberger {
    width: 48px;
    float: right;
    @include margin(30px 20px 0px 0px);
    display: block;
  }

}

.careers {
  position: absolute;
  right: 200px;
  top: 10px;
  color: $secondary-color;
  font-size: 0.8em;
}